[Unit]
Description=Example Spring Boot application
Requires=network.target

[Install]
WantedBy=multi-user.target
Alias=example

[Service]
WorkingDirectory={{ app_dir }}
ExecStart=/usr/bin/java -jar {{ app_file }}
User=alex
Type=simple
Restart=always
RestartSec=10
TimeoutSec=10
Environment=PORT={{ app_port }}
